<p id="notice"><%= notice %></p>

<p>
  <strong>Tname zn:</strong>
  <%= @sys_table_column.tname_zn %>
</p>

<p>
  <strong>Tname en:</strong>
  <%= @sys_table_column.tname_en %>
</p>

<p>
  <strong>Cname zn:</strong>
  <%= @sys_table_column.cname_zn %>
</p>

<p>
  <strong>Cname en:</strong>
  <%= @sys_table_column.cname_en %>
</p>

<p>
  <strong>Order no:</strong>
  <%= @sys_table_column.order_no %>
</p>

<%= link_to 'Edit', edit_sys_table_column_path(@sys_table_column) %> |
<%= link_to 'Back', sys_table_columns_path %>
