<%= form_for(@sample_storage) do |f| %>
  <% if @sample_storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample_storage.errors.count, "error") %> prohibited this sample_storage from being saved:</h2>

      <ul>
      <% @sample_storage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_index %><br>
    <%= f.number_field :position_index %>
  </div>
  <div class="field">
    <%= f.label :boxer_id %><br>
    <%= f.number_field :boxer_id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br>
    <%= f.number_field :sample_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
