<div class="form-group">
  <%= label :sample, :sample_seq , '样本ID',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample, :sample_seq ,:class=>'form-control', :placeholder=>'样本ID' %>
  </div>
  <%= label :sample, :storage_status , '存储状态',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample, :storage_status ,:class=>'form-control', :placeholder=>'存储状态' %>
  </div>
</div>
<div class="form-group">
  <%= label :sample, :freezing_thawing_times, '冻融次数',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample, :freezing_thawing_times,:class=>'form-control', :placeholder=>'冻融次数' %>
  </div>
  <%= label :sample,:initial_sample_volume, '样本初始量',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample,:initial_sample_volume,:class=>'form-control', :placeholder=>'样本初始量' %>
  </div>
</div>
<div class="form-group">
  <%= label :sample,:current_sample_volume, '剩余量',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample,:current_sample_volume,:class=>'form-control', :placeholder=>'剩余量' %>
  </div>
  <%= label :sample,:sample_no, '样本号',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= text_field :sample,:current_sample_volume,:class=>'form-control', :placeholder=>'sample_no' %>
  </div>
</div>
<div class="form-group">
  <%= label :sample,:previous, '样本',:class=>'col-lg-2 control-label' %>
  <div class="col-lg-3">

    <% if !@sample.blank? && !@sample.id.nil? %>
        <%=link_to '←', "javascript:void(0)", id: 'previous',:class=>"btn btn-sm btn-info", :onclick=> "gotoSample('#{@sample.previous_sample_no}')" %>
        <%=link_to '→', "javascript:void(0)", id: 'next',:class=>"btn btn-sm btn-info", :onclick=> "gotoSample('#{@sample.next_sample_no}')" %>
    <% end %>
  </div>
  <div class="col-lg-3">

  </div>
</div>