<p id="notice"><%= notice %></p>

<h1>Listing Samples</h1>

<table>
  <thead>
    <tr>
      <th>Sample no</th>
      <th>Sample seq</th>
      <th>User</th>
      <th>Storage status</th>
      <th>Freezing thawing times</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.sample_no %></td>
        <td><%= sample.sample_seq %></td>
        <td><%= sample.user_id %></td>
        <td><%= sample.storage_status %></td>
        <td><%= sample.freezing_thawing_times %></td>
        <td><%= link_to 'Show', sample %></td>
        <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
        <td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample', new_sample_path %>
