<p id="notice"><%= notice %></p>

<p>
  <strong>Sample no:</strong>
  <%= @sample.sample_no %>
</p>

<p>
  <strong>Sample seq:</strong>
  <%= @sample.sample_seq %>
</p>

<p>
  <strong>User:</strong>
  <%= @sample.user_id %>
</p>

<p>
  <strong>Storage status:</strong>
  <%= @sample.storage_status %>
</p>

<p>
  <strong>Freezing thawing times:</strong>
  <%= @sample.freezing_thawing_times %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
