<p id="notice"><%= notice %></p>

<h1>Listing Sample Preout Logs</h1>

<table>
  <thead>
    <tr>
      <th>Operator name</th>
      <th>User name</th>
      <th>Status</th>
      <th>Sample ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_preout_logs.each do |sample_preout_log| %>
      <tr>
        <td><%= sample_preout_log.operator_name %></td>
        <td><%= sample_preout_log.user_name %></td>
        <td><%= sample_preout_log.status %></td>
        <td><%= sample_preout_log.sample_ids %></td>
        <td><%= link_to 'Show', sample_preout_log %></td>
        <td><%= link_to 'Edit', edit_sample_preout_log_path(sample_preout_log) %></td>
        <td><%= link_to 'Destroy', sample_preout_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample preout log', new_sample_preout_log_path %>
