<%#= javascript_include_tag 'jquery.fancybox.js' %>
<%#= stylesheet_link_tag 'jquery.fancybox.css' %>

<table cellpadding="0" cellspacing="0" border="0" id="data－table-1" width="100%">
  <thead>
  <tr>
    <th>操作时间</th>
    <th>操作人</th>
    <th>使用人</th>
    <th>样本数量</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @sample_preout_logs.each do |sample_preout_log| %>
      <tr>
        <td><%= sample_preout_log.updated_at %></td>
        <td><%= sample_preout_log.operator_name %></td>
        <td><%= sample_preout_log.user_name %></td>
        <td><%= sample_preout_log.num %></td>
        <!--<td><%#= sample_preout_log.status %></td>-->
        <td><span class="label label-success"><%= sample_preout_log.status %></span></td>
        <td>
          <a class="fancybox_frame btn btn-xs btn-success fa fa-check" href="/sample_preout_logs/<%= sample_preout_log.id%>" title="查看"></a>
          <%#= link_to 'Show', :action=>'show', :class=> "fancybox" %>
          <%#= link_to 'Edit', edit_sample_preout_log_path(sample_preout_log) %>
          <%= link_to '', sample_preout_log, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-xs btn-danger fa fa-times",:title=>"删除" %>

        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <!--  <tr>
      <th>患者ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th>出生日期</th>
      <th>操作</th>
    </tr>-->
  </tfoot>
</table>
