<%= form_for(@container) do |f| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>
      <ul>
      <% @container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :container_name %><br>
    <%= f.text_field :container_name %>
  </div>

    <% if @container_type.container_catalog == ContainerType::LISHIBINGXIANG %>
      <div class="field">
        <%= f.label :container_type_id %><br>
        <%= f.select :container_type_id, ContainerType.all.collect{|container_type|[container_type.container_catalog,container_type.id]}, :prompt=>'--请选择容器类型--' %>
      </div>
      <div class="field">
        <%= f.label :code_style %><br>
        <%= f.number_field :code_style %>
      </div>

      <div class="field">
        <%= f.label :container_rows, '层数' %><br>
        <%= f.number_field :container_rows %>
      </div>
      <div class="field">
        <%= f.label :container_columns, '每层数量' %><br>
        <%= f.number_field :container_columns %>
      </div>
    <% elsif @container_type.container_catalog == ContainerType::WOSHIBINGXIANG %>
        <div class="field">
          <%= f.label :container_rows, '行数' %><br>
          <%= f.number_field :container_rows %>
        </div>
        <div class="field">
          <%= f.label :container_columns, '每行数量' %><br>
          <%= f.number_field :container_columns %>
        </div>
    <% else @container_type.container_catalog == ContainerType::WOSHIBINGXIANG %>
        <div class="field">
          <%= f.label :frame_num, '冻存架数量' %><br>
          <%= f.number_field :frame_num %>
        </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
