<div class="widget wgreen" >
  <div class="widget-head">
    <div class="pull-left">容器信息</div>
    <div class="widget-icons pull-right">
      <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <br />
      <!--表单开始-->
      <div class="form-group">
        <%= label :container, :container_seq, '容器ID', :class=>'col-lg-2 control-label'  %>
        <div class="col-lg-3">
          <%= text_field :container, :container_seq,:class=>'form-control', :placeholder=>'容器ID' %>
        </div>
        <%= label :container, :container_name, '容器名称', :class=>'col-lg-2 control-label' %>
        <div class="col-lg-3">
          <%= text_field :container, :container_name,:class=>'form-control', :placeholder=>'容器名称' %>
        </div>

      </div>
      <div class="form-group">
        <%= label :container, :frame_num, '冻存架数量', :class=>'col-lg-2 control-label' %>
        <div class="col-lg-3">
          <%= text_field :container, :frame_num,:class=>'form-control', :placeholder=>'冻存架数量' %>
        </div>

      </div>

      <!--表单结束-->
      <div class="clearfix"></div>

    </div>
  </div>
  <div class="widget-foot">
    <!-- Footer goes here -->
  </div>
</div>





