<!--立式冰箱架子-->
<!-- 架子、冰箱、盒子 -->
<div class="r_upright_shelf_box_big">
  <div class="s_shelf_box_big">
    <div class="shelf">
      <div class="top">
        <div class="layer_box">
          <% (0...@frame.frame_rows).each do |i| %>
              <div class="layer">
                <% boxer_storage = @boxer_storages[i] %>
                <% if boxer_storage.boxer_id %>
                    <a class="<%= get_css_class2(boxer_storage,i%@frame.frame_columns,nil) %>" href="/sample_storages?boxer_id=<%= boxer_storage.boxer_id%>"></a>
                <% else %>
                    <a class="fancybox_frame<%= get_css_class2(boxer_storage,i%@frame.frame_columns,nil) %>" href="/boxers/new?boxer_storage_id=<%= boxer_storage.id%>" ></a>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="bottom">
      </div>
    </div>
  </div>

  <div class="r_name_path">
    <i>名称：</i><span>架子1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>
<div class="r_upright_freezer_box_small">
<<<<<<< HEAD
      <script type="text/ecmascript" a3:scriptImplementation="Adobe">

          function svg_click(evt,frame_storage_id,frame_id){
              //为空创建
              if(frame_id==""||frame_id==null){
                  $("#boxes").attr("href","/frames/new?frame_storage_id="+frame_storage_id);
                  $("#boxes").click();
              }else{
                  $.pjax({ url: '/boxer_storages?frame_id='+frame_id, container: '#pjax-container' })
              }
          }

      </script>
  <center>
    <div>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="280" height="280">
        <% x=20 %>
        <% y=150 %>
        <!-- Pie chart sample -->
        <% frame_num=@frame_storages.length %>
        <% @frame_storages.each_with_index do |frame_storage,i| %>
            <% n=i+1 %>
            <% x1=150-Math.cos((Math::PI)*2*n / frame_num)*130%>
            <% y1=150-Math.sin((Math::PI)*2*n / frame_num)*130%>
            <path id="textPath" d="M150,150 L<%= x%>,<%= y%> A130,130 0 0,1 <%= x1%>,<%= y1%> z"
                  fill="<%= liquid_style(frame_storage,@frame.id) %>"
                  style="fill-opacity: 1;
                          stroke:black;
                          stroke-width: 1"
                  onclick= "svg_click(evt,<%= frame_storage.id%>,'<%= frame_storage.frame_id%>')"/>
            <% x= x1 %>
            <% y= y1 %>
            <text x="x1" y="y1"><textPath xlink:href="#textPath" startOffset="0" >here goes my text</textPath></text>
        <% end %>

      </svg>

    </div>
  </center>
      <a id="boxes" class="fancybox_frame" ></a>



=======
  <div class="freezer_box_small">
     <%= render :partial => "liquid_svg",:locals => {:frame_storages=>@container.frame_storages}%>
  </div>
>>>>>>> 6f9f5f4c247146668adfd3255b1721828f4e238a
  <div class="r_name_path">
    <i>名称：</i><span>冰箱1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>
<div class="r_upright_box_box_small">
  <div class="box_box_small">
    <div class="freezer">
      <div class="top">
        <div class="layer_box">
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a class="full_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div class="layer">
            <a class="first_box" href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="hour_icon"></div>
        <ul class="heat_dissipation">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="r_name_path">
    <i>名称：</i><span>盒子1</span><i>路径：</i><span>abcdefg</span>
  </div>
</div>

