<%= stylesheet_link_tag "box_big#{@frame.frame_columns}" %>
<%#= stylesheet_link_tag "box_small#{@frame.frame_columns}" %>
<%= stylesheet_link_tag "freezer_small#{@container.container_columns}" %>
<div class="row">
  <div class="col-md-12">
    <input class="r_add_btn" type="button" value="添加项目 +">
    <input class="r_modify_btn" type="button" value="修改项目 ✎">
  </div>
</div>
<!-- 架子、冰箱、盒子 -->
<% if @container.container_type.container_catalog.include?('立式') %>
    <%= render 'vertical_index' %>
<% elsif @container.container_type.container_catalog.include?('卧式') %>
    <%= render 'horizontal_index' %>
<% else %>
    <%= render 'liquid_index' %>
<% end %>




