<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>瑞林萨尔科技有限公司－生物样本库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <!-- Font awesome icon -->
  <%= stylesheet_link_tag 'font-awesome.min.css' %>
  <!-- Date picker -->
  <%= stylesheet_link_tag 'bootstrap-datetimepicker.min.css' %>
  <!-- Data tables -->
  <%= stylesheet_link_tag 'jquery.dataTables.css' %>
  <!-- Main stylesheet -->
  <%= stylesheet_link_tag 'style.css' %>

  <%= javascript_include_tag 'respond.min.js' %>
  <!--[if lt IE 9]>
  <script src="/assets/javascript/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <!--<link rel="shortcut icon" href="img/favicon/favicon.png">-->
</head>

<body>

<%= render 'layouts/navbar' %>


<!-- Header starts -->
<%= render 'layouts/header' %>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-dropdown"><a href="#">Navigation</a></div>
    <!--- Sidebar navigation -->
    <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
    <ul id="nav">
      <!-- Main menu with font awesome icon -->
      <% params[:menu_lib_id]=2  if params[:menu_lib_id].nil? %>
      <% menu = MenuLib.find(params[:menu_lib_id].to_i) %>
      <% MenuLib.where('menu_lib_id=?',1).order(:seq).each do |menu_lib| %>
          <% if !menu_lib.name_zh.blank? && menu_lib.name_zh.include?('存储') %>
              <li class="r_save_space_tittle"><a href="#"><i class="fa fa-list-alt r_save_space"></i> <%= menu_lib.name_zh %>  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a></li>
              <% Container.order('id asc').each do |container| %>
                  <li class="<%= 'has_sub' if container.frames.count>0 %> r_equipment <%"open" if params[:container_id]==container.id%>">
                    <a href="/frame_storages?container_id=<%= container.id %>"><i class="fa fa-list-alt r_equipment_icon"></i> <%= container.container_name %>  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul class="r_shelf_box">
                      <% container.frames.each do |frame| %>
                          <li class="r_shelf_name r_shelf_name_on"><a href="/boxer_storages?frame_id=<%= frame.id%>"><%= frame.frame_name %></a></li>
                          <div class="r_box_nav_box" style="display:none;">
                            <% frame.boxers.each do |boxer| %>
                                <div><a href="/sample_storages?boxer_id=<%= boxer.id%>"><%= boxer.box_name %></a></div>
                            <% end %>
                          </div>
                      <% end %>
                    </ul>
                  </li>
              <% end %>
          <% else %>
              <li class="<%= 'open' if menu.first_level_menu_lib.id==menu_lib.id %> has_sub">
                <a href="<%= menu_lib.link %>"><i class="fa <%= menu_lib.icon_class %>"></i> <%= menu_lib.name_zh %>  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <ul>
                  <% menu_lib.children_menu_libs.each do |child_menu_lib| %>
                      <li><a href="<%= child_menu_lib.link %>?menu_lib_id=<%= child_menu_lib.id %>"><%= child_menu_lib.name_zh %></a></li>
                  <% end %>
                </ul>
              </li>
          <% end %>
      <% end %>

    </ul>
  </div>

  <!-- Sidebar ends -->

  <!-- Main bar -->
  <div class="mainbar">

    <!-- Page heading -->
    <div class="page-head">

      <h2 class="pull-left"><i class="fa <%= menu.first_level_menu_lib.icon_class%>"></i> <%= menu.name_zh %></h2>
      <!-- Breadcrumb -->
      <div class="bread-crumb pull-right">
        <a href="index.html"><i class="fa fa-home"></i> Home</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="#" class="bread-current">Dashboard</a>
      </div>
      <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->

    <!-- Matter -->
    <div class="matter" id="ajax-content">
      <!-- 表单内容 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= yield  %>
          </div>

        </div>
      </div>
    </div>
    <!-- Matter ends -->
  </div>

  <!-- Mainbar ends -->
  <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<%= render 'layouts/footer' %>

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>

<!-- JS -->

<%= javascript_include_tag 'jquery.js' %><!-- jQuery -->
<%= javascript_include_tag 'bootstrap.min.js' %><!-- Bootstrap -->
<%= javascript_include_tag 'jquery.dataTables.min.js' %> <!-- Data tables -->
<!-- jQuery Notification - Noty -->
<%= javascript_include_tag 'custom.js' %><!-- Custom codes -->
<%= javascript_include_tag 'rilin.js' %>
</body>
</html>