<p id="notice"><%= notice %></p>

<h1>Listing Patient Infos</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Patient name</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Cell phone</th>
      <th>Home phone</th>
      <th>Other phone</th>
      <th>Zip code</th>
      <th>Address</th>
      <th>Company name</th>
      <th>Company phone</th>
      <th>Company zip</th>
      <th>Company address</th>
      <th>Relationship first</th>
      <th>Relative name first</th>
      <th>Relative phone1 first</th>
      <th>Relative phone2 first</th>
      <th>Relationship second</th>
      <th>Relative name second</th>
      <th>Relative phone1 second</th>
      <th>Relative phone2 second</th>
      <th>Relationship third</th>
      <th>Relative name third</th>
      <th>Relative phone1 third</th>
      <th>Relative phone2 third</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_infos.each do |patient_info| %>
      <tr>
        <td><%= patient_info.patient_id %></td>
        <td><%= patient_info.patient_name %></td>
        <td><%= patient_info.gender %></td>
        <td><%= patient_info.birthday %></td>
        <td><%= patient_info.cell_phone %></td>
        <td><%= patient_info.home_phone %></td>
        <td><%= patient_info.other_phone %></td>
        <td><%= patient_info.zip_code %></td>
        <td><%= patient_info.address %></td>
        <td><%= patient_info.company_name %></td>
        <td><%= patient_info.company_phone %></td>
        <td><%= patient_info.company_zip %></td>
        <td><%= patient_info.company_address %></td>
        <td><%= patient_info.relationship_first %></td>
        <td><%= patient_info.relative_name_first %></td>
        <td><%= patient_info.relative_phone1_first %></td>
        <td><%= patient_info.relative_phone2_first %></td>
        <td><%= patient_info.relationship_second %></td>
        <td><%= patient_info.relative_name_second %></td>
        <td><%= patient_info.relative_phone1_second %></td>
        <td><%= patient_info.relative_phone2_second %></td>
        <td><%= patient_info.relationship_third %></td>
        <td><%= patient_info.relative_name_third %></td>
        <td><%= patient_info.relative_phone1_third %></td>
        <td><%= patient_info.relative_phone2_third %></td>
        <td><%= link_to 'Show', patient_info %></td>
        <td><%= link_to 'Edit', edit_patient_info_path(patient_info) %></td>
        <td><%= link_to 'Destroy', patient_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient info', new_patient_info_path %>
