  <div class="buttons pull-right">
    <a href="patient_infos/new"><%= button_tag '添加患者', :class=>'btn btn-sm btn-info' %></a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-head">
          <div class="pull-left">Data Tables</div>
          <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <div class="padd">
            <!-- Table Page -->
            <div class="page-tables">
              <!-- Table -->
              <div class="table-responsive">
                <table cellpadding="0" cellspacing="0" border="0" id="data-table-1" width="100%">
                  <thead>
                  <tr>
                    <th>患者ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @patient_infos.each do |patient_info| %>
                      <tr>
                        <td><%= patient_info.patient_id %></td>
                        <td><%= patient_info.patient_name %></td>
                        <td><%= patient_info.gender %></td>
                        <td><%= patient_info.birthday %></td>
                        <td><span class="label label-success">Active</span></td>
                        <td>
                          <%= link_to 'Show', patient_info %>
                          <%= link_to 'Edit', edit_patient_info_path(patient_info) %>
                          <%= link_to 'Destroy', patient_info, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                <!--  <tr>
                    <th>患者ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>操作</th>
                  </tr>-->
                  </tfoot>
                </table>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>

  </div>
</div>

