<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @patient_info.patient_id %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @patient_info.patient_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient_info.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @patient_info.birthday %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @patient_info.cell_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @patient_info.home_phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @patient_info.other_phone %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @patient_info.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient_info.address %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @patient_info.company_name %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @patient_info.company_phone %>
</p>

<p>
  <strong>Company zip:</strong>
  <%= @patient_info.company_zip %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @patient_info.company_address %>
</p>

<p>
  <strong>Relationship first:</strong>
  <%= @patient_info.relationship_first %>
</p>

<p>
  <strong>Relative name first:</strong>
  <%= @patient_info.relative_name_first %>
</p>

<p>
  <strong>Relative phone1 first:</strong>
  <%= @patient_info.relative_phone1_first %>
</p>

<p>
  <strong>Relative phone2 first:</strong>
  <%= @patient_info.relative_phone2_first %>
</p>

<p>
  <strong>Relationship second:</strong>
  <%= @patient_info.relationship_second %>
</p>

<p>
  <strong>Relative name second:</strong>
  <%= @patient_info.relative_name_second %>
</p>

<p>
  <strong>Relative phone1 second:</strong>
  <%= @patient_info.relative_phone1_second %>
</p>

<p>
  <strong>Relative phone2 second:</strong>
  <%= @patient_info.relative_phone2_second %>
</p>

<p>
  <strong>Relationship third:</strong>
  <%= @patient_info.relationship_third %>
</p>

<p>
  <strong>Relative name third:</strong>
  <%= @patient_info.relative_name_third %>
</p>

<p>
  <strong>Relative phone1 third:</strong>
  <%= @patient_info.relative_phone1_third %>
</p>

<p>
  <strong>Relative phone2 third:</strong>
  <%= @patient_info.relative_phone2_third %>
</p>

<%= link_to 'Edit', edit_patient_info_path(@patient_info) %> |
<%= link_to 'Back', patient_infos_path %>
