<!--title标题-->
<% content_for :title do %>
    <h2 class="pull-left"><i class="fa fa-home"></i> 患者信息</h2>
<% end %>
<% content_for :clearfix do %>
    <%= @patient_info.patient_name%>
<% end %>
<!-- Widget内容 -->
<% content_for :detail do %>
  <div class="support-contact">
    <!-- Phone, email and address with font awesome icon -->
    <p><i class="fa  fa-sort-numeric-asc "></i>&nbsp; 患者ID<strong>:</strong> <%= @patient_info.patient_id%></p></p>
    <hr />
    <p><i class="fa <%= @patient_info.gender=="女"? "fa-female ":"fa-male "%>"></i>&nbsp; 性别<strong>:</strong> <%= @patient_info.gender%></p>
    <hr />
    <p><i class="fa fa-calendar "></i>&nbsp; 出生日期<strong>:</strong> <%= @patient_info.birthday%></p>
    <hr />
    <p><i class="fa fa-mobile-phone "></i>&nbsp; 手机<strong>:</strong> <%= @patient_info.cell_phone%></p>
    <hr />
    <p><i class="fa fa-phone"></i>&nbsp; 住址电话<strong>:</strong> <%= @patient_info.home_phone%></p>
    <hr />
    <p><i class="fa fa-mobile-phone "></i>&nbsp; 其他电话<strong>:</strong> <%= @patient_info.home_phone%></p>
    <hr />
    <p><i class="fa fa-envelope-o"></i>&nbsp; 住址邮箱<strong>:</strong> <%= @patient_info.home_phone%></p>
    <hr />
    <p><i class="fa  fa-home  "></i>&nbsp; 家庭住址<strong>:</strong> <%= @patient_info.address%></p>
    <hr />
    <!-- Button按钮 -->
    <%= link_to "编辑" ,edit_patient_info_path(@patient_info),:class=>"btn btn-sm btn-info"%>&nbsp;
    <%= link_to "返回" ,patient_info_path,:class=>"btn btn-sm btn-success"%>
  </div>
<% end %>