<p id="notice"><%= notice %></p>

<h1>Listing Container Types</h1>

<table>
  <thead>
    <tr>
      <th>Container catalog</th>
      <th>Container icon</th>
      <th>Alia name</th>
      <th>Add link url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @container_types.each do |container_type| %>
      <tr>
        <td><%= container_type.container_catalog %></td>
        <td><%= container_type.container_icon %></td>
        <td><%= container_type.alia_name %></td>
        <td><%= container_type.add_link_url %></td>
        <td><%= link_to 'Show', container_type %></td>
        <td><%= link_to 'Edit', edit_container_type_path(container_type) %></td>
        <td><%= link_to 'Destroy', container_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Container type', new_container_type_path %>
