<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">样本列表</a></li>
  <li><a href="#profile" data-toggle="tab">病例列表</a></li>
  <li><a href="#cont" data-toggle="tab">患者列表</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">
    <table cellpadding="0" cellspacing="0" border="0" id="data－table-1" width="100%">
      <thead>
      <tr>
        <th>
          <span class="uni">
            <input type='checkbox' value='check1' />
          </span>
        </th>
        <th>样本号</th>
        <th>样本ID</th>
        <th>存储状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @samples.each do |sample| %>
          <tr>
            <td>
              <span class="uni">
                <input type='checkbox' value='check1' />
              </span>
            </td>

            <td><%= sample.sample_no %></td>
            <td><%= sample.sample_seq %></td>
            <td><span class="label label-success">Active</span></td>
            <td>
              <%= link_to 'Show', sample %>
              <%= link_to 'Edit', edit_sample_path(sample) %>
              <%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
    </table>
  </div>
  <div class="tab-pane fade" id="profile">
    <table cellpadding="0" cellspacing="0" border="0" id="data－table-1" width="100%">
      <thead>
      <tr>
        <th>病例编号</th>
        <th>患者姓名</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @patient_cases.each do |patient_case| %>
          <tr>
            <td><%= patient_case.case_number %></td>
            <td><%= patient_case.patient_info.patient_name %></td>
            <td><span class="label label-success">Active</span></td>
            <td>
              <%= link_to 'Show', patient_case %>
              <%= link_to 'Edit', edit_patient_case_path(patient_case) %>
              <%= link_to 'Destroy', patient_case, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>
  <div class="tab-pane fade" id="cont">
    <table cellpadding="0" cellspacing="0" border="0" id="data－table-1" width="100%">
      <thead>
      <tr>
        <th>
          <span class="uni">
            <input type='checkbox' value='check1' />
          </span>
        </th>
        <th>患者ID</th>
        <th>姓名</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @patient_infos.each do |patient_info| %>
          <tr>
            <td>
                <span class="uni">
                    <input type='checkbox' value='check1' />
                </span>
            </td>
            <td><%= patient_info.patient_id %></td>
            <td><%= patient_info.patient_name %></td>
            <td><%= patient_info.gender %></td>
            <td><%= patient_info.birthday %></td>
            <td><span class="label label-success">Active</span></td>
            <td>
              <%= link_to 'Show', patient_info %>
              <%= link_to 'Edit', edit_patient_info_path(patient_info) %>
              <%= link_to 'Destroy', patient_info, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
    </table>
  </div>
</div>

