<%= javascript_include_tag 'jquery.fancybox.js' %>
<%= stylesheet_link_tag 'jquery.fancybox.css' %>


<% if @container.container_type.container_catalog.include?('立式') %>
    <%= stylesheet_link_tag "freezer_big#{@container.container_columns}" %>
    <%= render 'vertical_index' %>
<% elsif @container.container_type.container_catalog.include?('卧式') %>
    <%= stylesheet_link_tag "s_freezer_big#{@container.container_rows}" %>
    <%= render 'horizontal_index' %>
<% else %>
    <%= render 'liquid_index' %>
    <a id="boxes" class="fancybox_frame" ></a>
<% end %>

<script>
    //点击链接实现fancybox效果
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>