<p id="notice"><%= notice %></p>
<h1>Listing Frame Storages</h1>
<table>
  <thead>
    <tr>
      <th>Position index</th>
      <th>Frame</th>
      <th>Container</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @frame_storages.each do |frame_storage| %>
      <tr>
        <td><%= frame_storage.position_index %></td>
        <td><%= frame_storage.frame_id %></td>
        <td><%= frame_storage.container_id %></td>
        <td><%= link_to 'Show', frame_storage %></td>
        <td><%= link_to 'Edit', edit_frame_storage_path(frame_storage) %></td>
        <td><%= link_to 'Destroy', frame_storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to '添加架子', :controller => 'frames', :action => 'new', :frame_storage_id => frame_storage.id %></td>
        <td><%= link_to '存储盒子空间', :controller => 'boxer_storages', :action => 'index', :frame_storage_id => frame_storage.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frame storage', new_frame_storage_path %>
