<script>
    $(document).ready(function(){
        batch_add_num_is_disable();
        // 监听样本编号下拉框，根据不同的编号动态选择要显示的样本信息
        $('#sample_sample_no').change(function(){
            var sample_no = $('#sample_sample_no').val();
            getSampleInfo(sample_no);
        })
    })

    // ajax根据样本号sample_no获得样本信息
    function getSampleInfo(sample_no){
        $.ajax({
            type: "get",
            url: "/samples/1/sample_info",
            data: {sample_no: sample_no},
            dataType: 'html',
            success: function (data) {
                eval(data);
                // value==0 为添加样本，可以批量添加,否则不可批量添加(batch_add_num清空且不可写)
                if(sample_no=='0'){
                    $('#batch_add_num').attr("disabled",false);
                }else{
                    $('#batch_add_num').attr("value",'');
                    $('#batch_add_num').attr("disabled",true);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    // 判断批量添加文本框是否可编辑
    // 如果样本号下拉框sample_no的值为0，则可编辑（此时为添加样本）
    // 如果为某个样本（只可编辑），则不可批量添加
    function batch_add_num_is_disable(){
        var value = $('#sample_sample_no').val();
        if(value=='0'){
            $('#batch_add_num').attr("disabled",false);
        }else{
            $('#batch_add_num').attr("value",'');
            $('#batch_add_num').attr("disabled",true);
        }
    }

    // 实现查看上一个样本和下一个样本功能
    function gotoSample(sample_no){
        if(sample_no!=null&&sample_no!=""){
            $("#sample_sample_no option[value="+sample_no+"]").attr("selected",true).siblings().attr('selected',false);
            $("#sample_sample_no").val(sample_no);
            getSampleInfo(sample_no);
        }
    }

</script>


<%= form_for(@patient_case, :html=>{:class=>'form-horizontal', :role=>'form'}) do |f| %>
  <% if @patient_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_case.errors.count, "error") %> prohibited this patient_case from being saved:</h2>
      <ul>
      <% @patient_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :patient_info_id,:value=>1%>
    <div class="widget wgreen">
      <div class="widget-head">
        <div class="pull-left">病例信息</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

        </div>

        <div class="clearfix"></div>
      </div>

      <div class="widget-content">
        <div class="padd">
          <!--<br />-->
          <div class="form-group">
            <%= label :case_number, '病例编号',:class=>'col-lg-2 control-label' %>
            <div class="col-lg-3">
              <%= f.text_field :case_number,:class=>'form-control', :placeholder=>'病例编号' %>
            </div>

          </div>

          <!-- 表单结束-->
          <div class="clearfix"></div>

        </div>
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
    <div class="widget wgreen">
      <div class="widget-head">
        <div class="pull-left">样本信息</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

        </div>

        <div class="clearfix"></div>
      </div>

      <div class="widget-content">
        <div class="padd">
          <!--<br />-->
          <div class="form-group">
            <%= label :sample, :sample_no, '样本号',:class=>'col-lg-2 control-label' %>
            <div class="col-lg-3">
              <%= select :sample,:sample_no, (@samples.collect{|sample|[sample.sample_no,sample.sample_no]}<<['--new sample--','0'] ) ,:class=>'form-control', :placeholder=>'sample_no' %>
            </div>
          </div>

          <div id="sample_info">
            <div class="form-group">
          <%= label :sample, :sample_seq , '样本ID',:class=>'col-lg-2 control-label' %>
          <div class="col-lg-3">
            <%= text_field :sample, :sample_seq ,:class=>'form-control', :placeholder=>'样本ID' %>
          </div>
          <%= label :sample, :storage_status , '存储状态',:class=>'col-lg-2 control-label' %>
          <div class="col-lg-3">
            <%= text_field :sample, :storage_status ,:class=>'form-control', :placeholder=>'存储状态' %>
          </div>
        </div>
            <div class="form-group">
            <%= label :sample, :freezing_thawing_times, '冻融次数',:class=>'col-lg-2 control-label' %>
            <div class="col-lg-3">
              <%= text_field :sample, :freezing_thawing_times,:class=>'form-control', :placeholder=>'冻融次数' %>
            </div>
            <%= label :sample,:initial_sample_volume, '样本初始量',:class=>'col-lg-2 control-label' %>
            <div class="col-lg-3">
              <%= text_field :sample,:initial_sample_volume,:class=>'form-control', :placeholder=>'样本初始量' %>
            </div>
          </div>
            <div class="form-group">
                <%= label :sample,:current_sample_volume, '剩余量',:class=>'col-lg-2 control-label' %>
                <div class="col-lg-3">
                  <%= text_field :sample,:current_sample_volume,:class=>'form-control', :placeholder=>'剩余量' %>
                </div>
                <%= label :sample,:sample_storage_id, '位置',:class=>'col-lg-2 control-label' %>
                <div class="col-lg-3">
                    <%= text_field :sample,:sample_storage_id,:class=>'form-control', :placeholder=>'位置' %>
                </div>
            </div>
            <% if !@sample.blank? && !@sample.id.nil? %>
                <%=link_to 'previous', "javascript:void(0)", id: 'previous', :onclick=> "gotoSample('#{@sample.previous_sample_no}')" %>
                <%=link_to 'next', "javascript:void(0)", id: 'next', :onclick=> "gotoSample('#{@sample.next_sample_no}')" %>
            <% end %>
          </div>
          <div class="form-group">
            <%= label_tag :batch_add_num, '批量添加', :class=>'col-lg-2 control-label' %>
            <div class="col-lg-3">
              <%= text_field_tag :batch_add_num,nil, :class=>'form-control', :placeholder=>'批量添加'  %>
            </div>
          </div>
          <!-- 表单结束-->
          <div class="clearfix"></div>

        </div>
      </div>
      <div class="widget-foot">

        <!-- Footer goes here -->
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
