<p id="notice"><%= notice %></p>

<h1>Listing Patient Cases</h1>

<table>
  <thead>
    <tr>
      <th>Case number</th>
      <th>Patient info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_cases.each do |patient_case| %>
      <tr>
        <td><%= patient_case.case_number %></td>
        <td><%= patient_case.patient_info_id %></td>
        <td><%= link_to 'Show', patient_case %></td>
        <td><%= link_to 'Edit', edit_patient_case_path(patient_case) %></td>
        <td><%= link_to 'Destroy', patient_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient case', new_patient_case_path %>
