<input type="hidden" id="add_url" value="/patient_cases/new">
<table cellpadding="0" cellspacing="0" border="0" id="data－table-1" width="100%">
  <thead>
  <tr>
    <th>病例编号</th>
    <th>患者姓名</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @patient_cases.each do |patient_case| %>
      <tr>
        <td><%= patient_case.case_number %></td>
        <td><%= patient_case.patient_info.patient_name %></td>
        <td><span class="label label-success">Active</span></td>
        <td>
          <%= link_to '', patient_case,:class=>"btn btn-xs btn-success fa fa-check" %>
          <%= link_to '', edit_patient_case_path(patient_case),:class=>"btn btn-xs btn-warning fa fa-pencil" %>
          <%= link_to '', patient_case, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-xs btn-danger fa fa-times" %>

        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>
<script>
    $(document).ready(function() {
        $('#data－table-1_filter').prepend(
                '<a href="patient_infos/new"><button class="btn btn-sm btn-default" name="button">添加</button></a>&nbsp;&nbsp;'
        )

    } );
</script>